    /* default styles here for older browsers. 
       I tend to go for a 600px - 960px width max but using percentages
    */

    @media only screen and (max-width: 800px) {
        /* styles for browsers larger than 1440px; */

        * {
            font-size: 6px;
        }
        .layer {
            visibility: hidden;
        }
    }

    @media only screen and (min-width: 800px) {
        /* styles for browsers larger than 1440px; */

        * {
            font-size: 8px;
        }
        .layer {
            visibility: hidden;
        }
    }

    @media only screen and (min-width: 1000px) {
        /* styles for browsers larger than 960px; */

        * {
            font-size: 10px;
        }
        .layer {
            visibility: hidden;
        }
    }

    @media only screen and (min-width: 1200px) {
        /* styles for browsers larger than 960px; */

        * {
            font-size: 12px;
        }

        .layer {
            visibility: hidden;
        }
    }

    @media only screen and (min-width: 1440px) {
        /* styles for browsers larger than 1440px; */

        * {
            font-size: 14px;
        }

        .layer {
            visibility: visible;
        }
    }

    @media only screen and (min-width: 2000px) {
        /* for sumo sized (mac) screens */

        * {
            font-size: 16px;
        }

        .layer {
            visibility: visible;
        }
    }

    /* different techniques for iPad screening */
    /* @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
   
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
        
    } */