:root {
    --speed: 0.6s;
    --background: #00000090;
    --color: #FFC857;
    --border-radius: 1vw;
    --padding: 1.2vw
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Cairo Play', Times, serif;
    box-sizing: border-box;
}

body {
    background-color: #161616;
    color: #fff;
}

#background {
    width: 100%;
    height: auto;
    background-image: url(img/pexels-samuel-jean-butler-16223074.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.container {
    padding: var(--padding) 15%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--padding);
    background: var(--background);
    border-radius: var(--border-radius);
}

.logo {
    width: 6vw;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 1vw 1vw;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3vw;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0vw;
    height: 0.1vw;
    background: 1vw;
    background: white;
    position: absolute;
    left: 0;
    bottom: -0.2vw;
    transition: var(--speed);
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 15%;
    font-size: 2em;
    padding: var(--padding);
    height: auto;
    width: 60%;
    position: static;
    border-radius: var(--border-radius);
    background: var(--background);
}

.header-text h2 {
    font-size: 1.4vw;
}

.header-text h2 span {
    color: var(--color);
}

.header-text p{
    font-size: 1.2vw;
}

/* ------------Abaut------------ */

#about {
    margin-top: 40vw;
    padding: 8vw 0;
    color: #fff;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-2 {
    padding: var(--padding);
    height: auto;
    width: 100%;
    position: static;
    border-radius: var(--border-radius);
    background: var(--background);
    margin-left: auto;
    flex-basis: 60%;
    height: 100%
    /* or just height: 100%; */
}

.row {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.about-col-1 img {
    border-radius: var(--border-radius);
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.sub-title {
    font-size: 2.5vw;
    font-weight: 500;
    color: #fff;
}

.about-col-2 p {
    margin-top: 5%;
    font-size: 1.2vw;
}

.about-col-2 .tab-links {
    font-size: 1.3vw;
}

.about-col-2 .tab-titles {
    margin-top: 5%;
    font-size: 0.8vw;
}


.tab-titles {
    display: flex;
    font-size: 2vw;
    margin: 8vw 0 2vw;
}

.tab-links {
    margin-right: 2vw;
    font-size: 3vw;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 0.2vw;
    background: var(--color);
    position: absolute;
    left: 0;
    bottom: -0.8vw;
    transition: var(--speed);
}

.tab-links.active-link::after {
    width: 70%;
}

.tab-contents ul li {
    font-size: 1.1vw;
    list-style: none;
    margin: 1vw 0;
}

.tab-contents ul li span {
    color: var(--color);
    font-size: 1.4vw;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

---------------------services---------------------

#services{
    padding: var(--padding);
}
    

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 3vw;
    margin-top: 2vw;
    font-size: 2vw;
}

.services-list div{
    padding: var(--padding);
    height: auto;
    width: 100%;
    position: static;
    border-radius: var(--border-radius);
    background: var(--background);
    transition: background var(--speed), transform var(--speed);
}

.services-list div .fa-code{
    font-size: 2em;
    margin-bottom: 0.2vw;
}

.services-list div h2{
    font-size: 2vw;
    font-weight: 500;
    margin-bottom: 1vw;
}

.services-list a div{
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
    margin-top: 1vw;
    display: inline-block;
}

.services-list a div:hover{
    background: var(--color);
    transform: translateY(-10px);
}

#services .container .sub-title{
    padding: var(--padding);
    height: auto;
    width: 100%;
    position: static;
    border-radius: var(--border-radius);
    background: var(--background);  
}

#partfalio .container .sub-title{
    padding: var(--padding);
    height: auto;
    width: 100%;
    position: static;
    border-radius: var(--border-radius);
    background: var(--background);  
}

/* -----------------------Partfalio---------------------- */

#partfalio{
    padding-top: 10%;
}

.work-list{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    grid-gap: 3vw;
    margin-top: 3vw;
    font-size: 1.4vw;
    padding-bottom: 1vw;
}

.work{
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    display: block;
    border-radius: var(--border-radius);
    transition: transform var(--speed);
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(#00000050, var(--color));
    border-radius: var(--border-radius);
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2vw;
    text-align: center;
    font-size: 0.8vw;
    transition: height var(--speed);
}

.layer h3{
    font-weight: 500;
    margin-bottom: 2vw;
}

.layer a{
    margin-top: 1vw;
    color: var(--color);
    text-decoration: none;
    font-size: 1.4vw;
    line-height: 2vw;
    background: var(--background);
    width: 4vw;
    height: 2vw;
    border-radius: var(--border-radius);
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 1vw auto;
    width: fit-content;
    border: 0.1vw solid #fff;
    padding: 0.4vw 1.4vw;
    border-radius: var(--border-radius);
    text-decoration: none;
    color: #fff;
    transition: background var(--speed);
    font-size: 1vw;
}

.btn:hover{
    background: var(--color);
    color: #000;
}

/* -------------Contacts------------ */

.container .row{
    font-size: 1vw;    
    padding: var(--padding);
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: var(--border-radius);
    background: var(--background); 
}

.contact-left .sub-title {
    text-align: left;
    padding-bottom: 1vw;
}

.social-icons{
    display:flex;
}

.social-icons a {
    position: relative;
    text-decoration: none;
    margin-right: 1vw;  
    float:left;
    transition: transform var(--speed);
}

.social-icons a i{
    color: var(--color);
    font-size: 1.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a p{
    font-size: 1.2vw;
    color: #c0c0c0;
    margin-top: 0.2em;
}

.social-icons a:hover{
    color: var(--color);
    transform: translateY(-5px);
}
.social-icons a:hover i{
    color: #fff;
}
.social-icons a:hover p{
    color: #fff;
} 
.row.contact-center{
    height: 100%;
    display: flex;
}
.CV{
    display: flex;  
    position: relative;
}
#container-scale-top{
    padding-top: 0px;
}

/* -------------Some How------------ */

.btn.btn-a{
    margin: 1vw;
    margin-top: 2vw;
}

#services{
    padding-top: 5%;
}

.copyright{ 
    margin-top: 1vw;
    width: 100%;
    text-align: center;
    padding: var(--padding) 0;
    font-size: 1vw;
    color: #fff;

    position: relative;
    border-radius: var(--border-radius);
    background: var(--background); 
}