:root {
    --speed: 0.6s;
    --background: #00000090;
    --color: pink;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #161616;
    color: #fff;
}

#background {
    width: 100%;
    height: auto;
    background-image: url(img/pexels-samuel-jean-butler-16223074.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
}

.container {
    padding: 10px 15%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
    background: var(--background);
    border-radius: 25px;
}

.logo {
    width: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0px;
    height: 3px;
    background: 3px;
    background: white;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: var(--speed);
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 15%;
    font-size: 2em;
    padding: 20px;
    height: auto;
    width: 60%;
    position: static;
    border-radius: 25px;
    background: var(--background);
}

.header-text h2 {
    font-size: 1.5em;
}

.header-text h2 span {
    color: var(--color);
}

.header-text p{
    font-size: 1em;
}

/* ------------Abaut------------ */

#about {
    margin-top: 30%;
    padding: 100px 0;
    color: #fff;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-2 {
    padding: 20px;
    height: auto;
    width: 100%;
    position: static;
    border-radius: 25px;
    background: var(--background);
    margin-left: auto;
    flex-basis: 60%;
}

.row {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.about-col-1 img {
    border-radius: 25px;
    width: 100%;
    height: auto;
    margin-bottom: 10%;
}

.sub-title {
    font-size: 4em;
    font-weight: 500;
    color: #fff;

    
}

.about-col-2 p {
    margin-top: 5%;
    font-size: 2em;
}

.about-col-2 .tab-titles {
    margin-top: 5%;
    font-size: 1.2em;
}


.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 2em;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: var(--color);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: var(--speed);
}

.tab-links.active-link::after {
    width: 70%;
}

.tab-contents ul li {
    font-size: 2em;
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: var(--color);
    font-size: 1.2em;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

---------------------services---------------------

#services{
    padding: 1px;
}
    

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    font-size: 2em;
}

.services-list div{
    padding: 20px;
    height: auto;
    width: 100%;
    position: static;
    border-radius: 25px;
    background: var(--background);
    transition: background var(--speed), transform var(--speed);
}

.services-list div .fa-code{
    font-size: 2em;
    margin-bottom: 0.5em;
}

.services-list div h2{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 1em;
}

.services-list a div{
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    margin-top: 1.2em;
    display: inline-block;
}

.services-list a div:hover{
    background: var(--color);
    transform: translateY(-10px);
}

#services .container .sub-title{
    padding: 20px;
    height: auto;
    width: 100%;
    position: static;
    border-radius: 25px;
    background: var(--background);  
}

#partfalio .container .sub-title{
    padding: 20px;
    height: auto;
    width: 100%;
    position: static;
    border-radius: 25px;
    background: var(--background);  
}

/* -----------------------Partfalio---------------------- */

#partfalio{
    padding-top: 10%;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    font-size: 2em;
    padding-bottom: 1em;
}

.work{
    border-radius: 25px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    display: block;
    border-radius: 25px;
    transition: transform var(--speed);
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(#00000000, var(--color));
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 1em;
    transition: height var(--speed);
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: var(--color);
    text-decoration: none;
    font-size: 1em;
    line-height: 25px;
    background: var(--background);
    width: 50px;
    height: 25px;
    border-radius: 25px;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #fff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background var(--speed);
    font-size: 2em;
}

.btn:hover{
    background: var(--color);
}

/* -------------Contacts------------ */

.container .row{
    font-size: 1em;    
    padding: 20px;
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 25px;
    background: var(--background); 
}

.contact-left .sub-title {
    text-align: left;
    padding-bottom: 0.5em;
}

.social-icons{
    display:flex;
}

.social-icons a {
    position: relative;
    text-decoration: none;
    margin-right: 2em;  
    float:left;
    transition: transform var(--speed);
}

.social-icons a i{
    color: var(--color);
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a p{
    font-size: 2em;
    color: #c0c0c0;
    margin-top: 0.2em;
}

.social-icons a:hover{
    color: var(--color);
    transform: translateY(-5px);
}
.social-icons a:hover i{
    color: #fff;
}
.social-icons a:hover p{
    color: #fff;
}
.contact-center{
    display: flex;
}
.CV{
    display: flex;  
    position: relative;
}

/* -------------Some How------------ */

.btn.btn-a{
    margin: 10px;
    margin-top: 25px;
}

#services{
    padding-top: 5%;
}

.copyright{ 
    margin-top: 4em;
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-size: 2em;
    color: #fff;

    position: relative;
    border-radius: 25px;
    background: var(--background); 
}