:root {
	--color: #FFC857;
}

* {
	box-sizing: border-box;
	font-family: "Open Sans";
	font-size: 18px;
	letter-spacing: 0px;
	font-weight: 400; 
	line-height: 26px;
	background-size: cover;
    margin: 0px;
}
.rela-block {
	display: block;
	position: relative;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.bold {
	font-weight: bold;
}
.my-data{
    margin: 0px;
}
.rela-inline {
	display: inline-block;
	position: relative;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.floated {
	display: inline-block;
	position: relative;
	margin: false;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.abs-center {
	display: false;
	position: absolute;
	margin: false;
	top: 55%;
	left: 50%;
	right: false;
	bottom: false;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 88%;
}

.caps {
	text-transform: uppercase;
}
.justified {
	text-align: justify;
}
p.light {
	color: #4D5359;
}
h2 {
	font-family: "Open Sans";
	font-size: 30px;
	letter-spacing: 5px;
	font-weight: 600;
	line-height: 40px;
	color: #000;
}
h3 {
	font-family: "Open Sans";
	font-size: 21px;
	letter-spacing: 1px;
	font-weight: 600;
	line-height: 28px;
	color: #000;
}
.page {

	margin: 0px auto;
	background-color: #fff;
}
#download{
	width: 210mm;
	height: 296mm;

}
.top-bar {
	height: 10%;
	background-color: #4D5359;
	color: #fff;
}
.name {
	display: false;
	position: absolute;
	margin: false;
	top: false;
	left: calc(350px + 5%);
	right: 0;
	bottom: 0;
	height: 120px;
	text-align: center;
	font-family: "Raleway";
	font-size: 38px;
	letter-spacing: 6px;
	font-weight: 100;
	line-height: 48px;

    color: #fff;
}
.name div {
	width: 94%;
}
.side-bar {
	display: false;
	position: absolute;
	margin: false;
	top: 60px;
	left: 5%;
	right: false;
	bottom: 3%;
	width: 350px;
	background-color: var(--color);
	padding: 20px
}
.mugshot {
	display: false;
	position: absolute;
	margin: false;
	top: 50px;
	left: 70px;
	right: false;
	bottom: false;
	height: 210px;
	width: 210px;
}
.mugshot .logo {
	margin: -23px;
}
.logo {
	display: false;
	position: absolute;
	margin: false;
	top: -15%;
	left: -10%;
	right: false;
	bottom: false;
	z-index: 100;
	margin: 0;
	color: #000;
	height: 250px;
	width: 250px;
}
.logo .logo-svg {
	height: 100%;
	width: 100%;
	stroke: #000;
	cursor: pointer;
}
.logo .logo-text {
	display: false;
	position: absolute;
	margin: false;
	top: 58%;
	left: 0;
	right: 16%;
	bottom: 0;
	cursor: pointer;
	font-family: "Montserrat";
	font-size: 55px;
	letter-spacing: 0px;
	font-weight: 400;
	line-height: 58.333333333333336px;
}
.social {
	padding-left: 60px;
	margin-bottom: 20px;
	cursor: pointer;
}
.social:before {
	content: "";
	display: false;
	position: absolute;
	margin: false;
	top: -4px;
	left: 10px;
	right: false;
	bottom: false;
	height: 35px;
	width: 35px;
	background-size: cover !important;
}

.social.github:before {
	background: url("/img/social_media_github-19-128.webp")
		 no-repeat;
}

.social.linked-in:before {
	background: url("/img/social_media_linkedin-07-128.webp")
		 no-repeat;
}

.social.webside:before {
	background: url("/img/globe.png")
		 no-repeat;
}

.side-header {
	font-family: "Open Sans";
	font-size: 18px;
	letter-spacing: 4px;
	font-weight: 600;
	line-height: 28px;
	margin: 50px auto 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #454955;
}
.list-thing {
	padding-left: 25px;
	margin-bottom: 5px;
}
.content-container {
	margin-right: 0;
	width: calc(95% - 350px);
	padding: 20px 20px;
}
.content-container > * {
	margin: 0 auto 10px;
}
.content-container > h3 {
	margin: 0 auto 5px;
}
.content-container > p.long-margin {
	margin: 0 auto 20px;
}
.title {
	width: 80%;
	text-align: center;
}
.separator {
	width: 240px;
	height: 2px;
	background-color: #454955;
}
.greyed {
	background-color: #dddddd;
	width: 100%;
	max-width: 580px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 18px;
	letter-spacing: 6px;
	font-weight: 600;
	line-height: 28px;
}

a 
{ text-decoration: none;
color: #000; }

#body{
	background-color: #aeaeae;
}
h1{
	font-size: 0.8em;
}