body {
    background-color: rgb(32, 32, 32);
    font-family:
        "Helvetica",
        "Arial",
        "Georgia",
        "Tahoma",
        "Times New Roman";
}

.full {
    background-color: white;
    width: 210mm;
    height: 297mm;
}

#body {
    display: flex;
    height: 100%;
    
}