:root {
    --background: #ffffff;
    --primary: #f6e960;
    --primary-text: #484848;
    --secondary: #b2b8fb;
    --secondary-text: #000000;

}

body {
    background-color: #323232;
    font-family:
        "Helvetica",
        "Arial",
        "Georgia",
        "Tahoma",
        "Times New Roman";
    color: var(--primary-text);
}

.full {
    background-color: var(--background);
    width: 210mm;
    height: 296.5mm;
}

#center{
    display: flex;
    justify-content: center;
}

#body {
    display: flex;
    height: 100%;
}

h2 {
    margin-top: 0em;
}

.padding {
    padding: 1em;
}