#smallPart {
    
    width: 30%;
    height: 75%;
    background-color: var(--secondary);
    color:  var(--primary-text);
}

.icon {
    float: left;
    vertical-align: middle;
    padding-right: 0.7em;
    position: relative;
    top: 0.2em;
    color:  var(--secondary-text);
    width: 1em;
}

.padding-right{
    border-right-style: solid;
}
.padding-bottum{
    border-bottom-style: solid;
}
.padding-top{
    border-top-style: solid;
}
