#smallPart {
    background-color: cornflowerblue;
    width: 30%;
    height: 70%;
    
}

.icon {
    float: left;
    vertical-align: middle;
    padding-right: 0.7em;
    position: relative;
    top: 0.2em;
    color: #000000;
    width: 1em;
}

#contact{
    
    padding-left: 1em;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: 10px;
    
}