#smallPart {
    
    width: 30%;
    height: 70%;
    
}

.icon {
    float: left;
    vertical-align: middle;
    padding-right: 0.7em;
    position: relative;
    top: 0.2em;
    color: #000000;
    width: 1em;
}

.padding-right{
    border-right-style: solid;
}
.padding-bottum{
    border-bottom-style: solid;
}
