@import "./base.css";

#app {
  max-width: var(--page-width);
  margin: 0 auto;
  font-weight: normal;
}

body {
  display: block;
  position: static;
}

a,
.highlighters {
  text-decoration: none;
  color: var(--color-highlighters);
  transition: 0.4s;
}

.text {
  padding: 2em 2em;
}

h1 {
  font-weight: 600;
  font-size: 5em;
  padding-bottom: 0.4em;
  letter-spacing: -1px;
  line-height: 1;
  color: var(--color-heading);
}
h2 {
  font-size: 2em;
  letter-spacing: -1px;
  line-height: 1.2;
  font-weight: 500;
}
h3 {
  font-weight: 600;
  padding-right: 1.4em;
  padding-bottom: 0.8em;
  font-size: 1.4em;
}
h4 {
  font-size: 1em;
  font-weight: 600;
}

.SplitH {
  border-left: var(--size) solid var(--color-highlighters);
  border-radius: var(--border-radius);
  height: calc(inherit - 100px);
  margin: 1em 2em;
}
.SplitV {
  border-bottom: var(--size) solid var(--color-highlighters);
  border-radius: var(--border-radius);
  height: inherit;

  margin: 0 1em;
  width: 97.5%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 24px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.2em;
  }
  .inline-flex{
    display: grid;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  body {
    font-size: 24px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  body {
    font-size: 22px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1280px) {
  body {
    font-size: 20px;
  }
}


@media (hover: hover) {
}
