@import "./base.css";

#app main{
  margin: auto 10%;
  font-weight: normal;
}

body {
  display: block;
  position: static;
}

a,
.green {
  text-decoration: none;
  color: darkorange;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
}
