html {
	color: #fff;
	background: #202020;
}

body #mainFrameW {
	background-color: #161616;

	margin: 0;
	padding: 0;

	text-align: center;
	width: 210mm;
	height: 297mm;
	margin: auto;
}

body #mainFrameH {
	margin: 80px auto;

	border: solid #666;

    border-width: 10px 0 20px 0;
}
h1 {
}
